{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="site-title">
      <a href="{{ base_path }}/lab/">D^4 Sustainable Futures</a>
    </div>
    
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        
        <label for="nav-toggle" class="nav-toggle-label">
          <span>☰</span>
        </label>
        
        <ul class="visible-links">
          {% for link in site.data.navigation.lab %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            
            {% assign current_class = '' %}
            {% if page.url == link.url %}
              {% assign current_class = 'masthead__menu-item--active' %}
            {% elsif page.url contains link.url and link.url != '/' and link.url != '/lab/' %}
              {% assign current_class = 'masthead__menu-item--active' %}
            {% else %}
              {% assign current_class = 'masthead__menu-item' %}
            {% endif %}
            
            <li class="{{ current_class }}">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>